@model CatalogarPatrimonioWEB.Models.MaterialModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutInside";
}

<h1>Editar Material</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <div class="card card-primary">
            <div class="card-header">
                <h4 class="card-title">Editar Material</h4>
            </div>
            <form asp-action="Edit">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DeveVincularMaterial" class="control-label"></label>
                        <input asp-for="DeveVincularMaterial" class="form-control" />
                        <span asp-validation-for="DeveVincularMaterial" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StatusSolicitacao" class="control-label"></label>
                        <input asp-for="StatusSolicitacao" class="form-control" />
                        <span asp-validation-for="StatusSolicitacao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdTipoMaterial" class="control-label"></label>
                        <input asp-for="IdTipoMaterial" class="form-control" />
                        <span asp-validation-for="IdTipoMaterial" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Valor" class="control-label"></label>
                        <input asp-for="Valor" type="password" class="form-control" />
                        <span asp-validation-for="Valor" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a asp-action="Index">Cancelar</a>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
