/Codigo/CatalogarPatrimonioWEB/CatalogarPatrimonioWeb/bin
/Codigo/CatalogarPatrimonioWEB/CatalogarPatrimonioWeb/obj
/Codigo/CatalogarPatrimonioWEB/.vs/
/.vs/
/.vscode/
/AnaliseProjeto/ModeloRelacional.mwb.bak
/Codigo/CatalogarPatrimonioWEB/Core/bin
/Codigo/CatalogarPatrimonioWEB/Core/obj
/Codigo/CatalogarPatrimonioWEB/Service/bin
/Codigo/CatalogarPatrimonioWEB/Service/obj
