/Codigo/CatalogaPatrimonio/CatalogarPatrimonioWeb/bin
/Codigo/CatalogaPatrimonio/CatalogarPatrimonioWeb/obj
/Codigo/CatalogaPatrimonio/.vs/
/AnaliseProjeto/ModeloRelacional.mwb.bak
/Codigo/CatalogaPatrimonio/Core/bin
/Codigo/CatalogaPatrimonio/Core/obj
/Codigo/CatalogaPatrimonio/Service/bin
/Codigo/CatalogaPatrimonio/Service/obj