/Codigo/CatalogarPatrimonio/CatalogarPatrimonioWeb/bin
/Codigo/CatalogarPatrimonio/CatalogarPatrimonioWeb/obj
/Codigo/CatalogarPatrimonio/.vs/
/Codigo/CatalogarPatrimonio/.vscode/
/.vs/
/.vscode/
/AnaliseProjeto/ModeloRelacional.mwb.bak
/Codigo/CatalogarPatrimonio/Core/bin
/Codigo/CatalogarPatrimonio/Core/obj
/Codigo/CatalogarPatrimonio/Service/bin
/Codigo/CatalogarPatrimonio/Service/obj
