@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueci a senha";
}

<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <img class="elevation-1" style="width: 100%; opacity: 0.9;" src="~/assets/img/logo/logoColor.jpeg" alt="logo catalogar patrimonio">
        </div>
        <div class="card">
            <div class="card-header">
                <h5 class="login-box-msg">Esqueceu sua senha? Aqui você pode solicitar facilmente uma nova senha.</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" placeholder="Digite seu email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Solicitar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
